body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container{
    /* min-height: 500px; */
    height: calc(100vh - 40px);
    margin: 10px;
    padding: 10px;
    /* background: red; */
}

.box1, .box2, .box3 {
    margin: 5px;
    padding: 5px;
    min-height: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.box1{
    border-style: solid;
}

.box1-inner {
    height: 100%;
    display: flex;
}

.box1-inner > div {
    margin-right: 20px;
    float: left;
}
.narrow-contain{
    /* margin-right: 0px; */
    display: flex;
    align-items: flex-end;
}
.narrow-rect{
    background: rgb(139, 26, 214);
    width: 25px;
    height: 70%;
}

.wide-rect{
    background: green;
    width: 200px;
    height: 100%
}

.circle{
    background: lightblue;
    height: 100%;
    width: 100px;
    border-radius: 50%;
}

.box2{
    border-style: dotted;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box2-inner {
    margin: 20px;
    height: 80%;
    border-style: solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    background: rgb(255, 228, 154);
    /* background: green; */
}

.box3{
    /* border-style: dashed; */
    height: 170px;
    float: middle;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    /* min-width: 200px; */
}

.box3-inner {
    height: 100%;
    border-style: solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkblue;
    font-size: large;
    font-weight: bold;
    border: 0px solid green;
    /* background: green; */
}

.shadow-light {
    /* -moz-box-shadow:    inset 0 0 10px #000000; */
    /* -webkit-box-shadow: inset 0 0 10px #000000; */
    box-shadow:         5px 5px 10px 0px #9c9c9c;
    border: 1px solid #9c9c9c;
 }

.shadow-dark {
   /* -moz-box-shadow:    inset 0 0 10px #000000; */
   /* -webkit-box-shadow: inset 0 0 10px #000000; */
   box-shadow:         3px 3px 3px 0px #222222;
   /* border: 1px solid #222222; */
}